<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.backend.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="upc.backend.entity.Student">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="stuname" jdbcType="VARCHAR" property="stuname" />
        <result column="stuclass" jdbcType="VARCHAR" property="stuclass" />
    </resultMap>
    <sql id="Base_Column_List">
        id, stuname, stuclass
    </sql>

    <select id="selectByStunum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from student
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from student
        where stuname = #{stuname,jdbcType=VARCHAR}
    </select>

    <select id="selectByClass" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student
        where stuclass = #{stuclass,jdbcType=VARCHAR}
    </select>

    <select id="getNumOfTotalStudent" parameterType="Map" resultType="int">
        select count(*) from student
    </select>
    <select id="findAllStudentList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <insert id="insert" parameterType="upc.backend.entity.Student">
        insert into student (id, stuname, stuclass)
        values (#{id,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stuclass,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="upc.backend.entity.Student">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="stuname != null">
                stuname,
            </if>
            <if test="stuclass != null">
                stuclass,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=INTEGER},
            </if>
            <if test="stuname != null">
                #{stuname, jdbcType=VARCHAR},
            </if>
            <if test="stuclass != null">
                #{stuclass, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="upc.backend.entity.Student">
        update student
        <set>
            <if test="stuname != null">
                stuname = #{stuname,jdbcType=VARCHAR},
            </if>
            <if test="stuclass != null">
                stuclass = #{stuclass,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="upc.backend.entity.Student">
        update student
        set stuname = #{stuname,jdbcType=VARCHAR},
            stuclass = #{stuclass,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteBatch" parameterType="java.lang.Integer">
        delete from student
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>