<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.backend.mapper.TeamMapper">
    <resultMap id="BaseResultMap" type="upc.backend.entity.Team">
        <id column="TeamId" jdbcType="INTEGER" property="TeamId" />
        <result column="TeamName" jdbcType="VARCHAR" property="TeamName" />
        <result column="RegisterTime" jdbcType="TIMESTAMP" property="RegisterTime" />
        <result column="TeamIntro" jdbcType="VARCHAR" property="TeamIntro" />

    </resultMap>
    <sql id="Base_Column_List">
        TeamId,TeamName,RegisterTime,TeamIntro
    </sql>

    <select id="selectByID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from team
        where TeamId = #{TeamId,jdbcType=INTEGER}
    </select>


    <insert id="insertUserTeam" parameterType="upc.backend.entity.UserTeam">
        INSERT INTO user_team(UserId, TeamId)
        VALUES (#{UserId, jdbcType=INTEGER}, #{TeamId, jdbcType=INTEGER})
    </insert>
    <select id="selectByTitle" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from team
        where TeamName = #{TeamName,jdbcType=VARCHAR}
    </select>
    <select id="getNumOfTotalReferences" parameterType="Map" resultType="int">
        select count(*) from team
    </select>
    <select id="findAllReferenceList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from team
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <insert id="insert" parameterType="upc.backend.entity.Team">
        insert into team( TeamId,TeamName,RegisterTime,TeamIntro)
        values (#{TeamId,jdbcType=INTEGER}, #{TeamName,jdbcType=VARCHAR}, #{RegisterTime,jdbcType=TIMESTAMP}, #{TeamIntro,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="upc.backend.entity.Team">
        insert into team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="TeamId != null">
                TeamId,
            </if>
            <if test="TeamName != null">
                teamname,
            </if>

            <if test="RegisterTime != null">
                registertime,
            </if>
            <if test="TeamIntro!= null">
                teamintro,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="TeamId != null">
                #{TeamId, jdbcType=INTEGER},
            </if>
            <if test="TeamName != null">
                #{TeamName, jdbcType=VARCHAR},
            </if>

            <if test="RegisterTime != null">
                #{RegisterTime, jdbcType=TIMESTAMP},
            </if>
            <if test="TeamIntro!= null">
                #{TeamIntro, jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="upc.backend.entity.Team">
        update team
        <set>
            <if test="TeamName != null">
                TeamName= #{TeamName,jdbcType=VARCHAR},
            </if>
            <if test="RegisterTime != null">
                RegisterTime = #{RegisterTime ,jdbcType=TIMESTAMP},
            </if>
            <if test="TeamIntro != null">
                TeamIntro = #{TeamIntro,jdbcType=VARCHAR},
            </if>
        </set>
        where TeamId = #{TeamId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="upc.backend.entity.Team">
        update team
        set TeamName= #{TeamName,jdbcType=VARCHAR},
            RegisterTime = #{RegisterTime,jdbcType=TIMESTAMP},
            TeamIntro= #{TeamIntro,jdbcType=VARCHAR},
            where TeamId  = #{TeamId ,jdbcType=INTEGER}
    </update>
    <delete id="deleteBatch" parameterType="java.lang.Integer">
        delete from team
        where TeamId in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>